<div class="classroom panel panel-body">
	<div class="col-md-2 shape-box">
		<div ui-view></div>
	</div>
	<div class="col-md-10">
		<div class="classroom-header">
<!-- 			<button class="btn bg-indigo-400">Print</button>
			<button class="btn bg-indigo-400">Help</button> -->
			<button class="btn bg-indigo-400" ng-click="scaleZoomIn()">+</button>
			<button class="btn bg-indigo-400" ng-click="scaleZoomOut()">-</button>
			<button class="btn bg-indigo-400" ng-click="trashObject()">T</button>
			<button class="btn bg-indigo-400" ng-click="saveClassroom()">Save ClassRoom</button>
			<div class="shape-description">{{shapeDescription}}</div>
		</div>
		<div class="workboard">
			<div class="col-md-1">
				<div class="tool-box align-vertical">
					<button class="btn bg-indigo-400 btn-students" ng-click="changeStudents()">Students</button>
					<button class="btn bg-indigo-400 btn-desks" ng-click="changeDesks()">Desks</button>
					<button class="btn bg-indigo-400 btn-furniture" ng-click="changeFurniture()">Furniture</button>
					<button class="btn bg-indigo-400 btn-roomshape" ng-click="changeRoomShape()">Room Shape</button>
				</div>				
			</div>
			<div class="col-md-11">
				<drawing control="drawingControl"></drawing>
				<input type="text" class="tempInput" style="display:none" value=""></div>
		 	</div>
			<!-- <div class="drawboard" id="drawboard" dropzone="copy s:text/plain s:text/html" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
					<div class="room " style="display:block"></div>
				</div> -->
		</div>
	</div>
</div>