<div class="assetment-classroom" ng-controller="EPclassroomController" ng-init="init()">
	<!-- Page container -->
	<div class="page-container">
		<!-- Page content -->
		<div class="page-content">
			<div ui-view></div>
		</div>
		<!-- /page content -->
		<div class="copy-and-credits text-center">
			<img src="../assets/images/ed-admin-dark.png" /><br />
			<ul>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Contact SUNY</a></li>
			</ul>
			&copy; Copyright 2016 Ed-admin Pty Ltd
		</div>
	</div>
	<!-- /page container -->
</div>

