<div class="desks">
	<h4 class="shape-title">Desks</h4>
	<div class="desk-item" id="desk-item1" draggable="true" ondragstart="handleDragStart(event)">
		<div class="desk-square"></div><span>Square Desk</span>
	</div>
	<div class="desk-item" id="desk-item2" draggable="true" ondragstart="handleDragStart(event)">
		<div class="desk-round"></div><span>Round Desk</span>
	</div>
	<div class="desk-item" id="desk-item3" draggable="true" ondragstart="handleDragStart(event)">
		<div class="desk-teacher"></div><span>Teacher's Desk</span>
	</div>
	<div class="desk-item" id="desk-item4" draggable="true" ondragstart="handleDragStart(event)">
		<div class="desk-rectangle"></div><span>Rectangle Desk</span>
	</div>
	<div class="desk-item" id="desk-item5" draggable="true" ondragstart="handleDragStart(event)">
		<div class="desk-horseshoe"></div><span>Horseshoe Desk</span>
	</div>
</div>
