<div class="furniture">
	<h4 class="shape-title">Furniture</h4>
	<div class="furniture-item" id="furniture-item1" draggable="true" ondragstart="handleDragStart(event)">
		<div class="furniture-window"></div><span>Window</span>
	</div>
	<div class="furniture-item" id="furniture-item2" draggable="true" ondragstart="handleDragStart(event)">
		<div class="furniture-door"></div><span>Door</span>
	</div>
	<div class="furniture-item" id="furniture-item3" draggable="true" ondragstart="handleDragStart(event)">
		<div class="furniture-blackboard"></div><span>Blackboard</span>
	</div>
	<div class="furniture-item" id="furniture-item4" draggable="true" ondragstart="handleDragStart(event)">
		<div class="furniture-bookshelves"></div><span>Bookshelves</span>
	</div>
	<div class="furniture-item" id="furniture-item5" draggable="true" ondragstart="handleDragStart(event)">
		<div class="furniture-bulletin"></div><span>Bulletin</span>
	</div>
	<div class="furniture-item" id="furniture-item6" draggable="true" ondragstart="handleDragStart(event)">
		<div class="furniture-locker"></div><span>Locker</span>
	</div>
	<div class="furniture-item" id="furniture-item7" draggable="true" ondragstart="handleDragStart(event)">
		<div class="furniture-computer"></div><span>Computer</span>
	</div>
</div>

